<div class="main-content">
    <div class="row">
        <div class="col-12 col-lg-6 col-sm-12 col-md-6 ">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Impacto</h4>
                    <p class="card-category">Actualizar</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Peso</th>
                                <th scope="col">%</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of impacto">
                                <td>
                                    <input class="form-control m-0 " [value]="item.level" type="text">
                                </td>
                                <td>
                                    <input class="form-control m-0 " [value]=item.description  type="text">
                                </td>
                                <td class="text-center">
                                    <small>{{item.weight}}</small>
                                </td>
                                <td class="text-center">
                                    <small>{{(item.weight/impacto.length)}}</small>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>               
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm" style="background:#344fa1;">Agregar</button>
                    <button type="button" class="btn btn-sm btn-success" >Actualizar</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-sm-12 col-md-6 ">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Probabilidad</h4>
                    <p class="card-category">Actualizar</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Peso</th>
                                <th scope="col">%</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of probabilidad">
                                    <td>
                                        <input class="form-control m-0 " [value]="item.level" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control m-0 " [value]=item.description  type="text">
                                    </td>
                                    <td class="text-center">
                                        <small>{{item.weight}}</small>
                                    </td>
                                    <td class="text-center">
                                        <small>{{(item.weight/probabilidad.length)}}</small>
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>           
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm" style="background:#344fa1;">Agregar</button>
                    <button type="button" class="btn btn-success btn-sm">Actualizar</button>
                </div>  
            </div>
        </div>
    </div>
</div>
